:root {
  --vp-c-brand-dark: black;
  --vp-c-brand: black;
  --vp-code-block-bg: #242424;
}

.dark {
  --vp-c-brand: white;
  --vp-c-brand-dark: white;
  --vp-c-bg-alt: #141414;
  --vp-c-bg: #181818;
  --vp-code-block-bg: #141414;
}

.dark .VPImage.logo {
  filter: invert()
}

.vp-doc a {
  color: blue
}

.dark .vp-doc a {
  color: #3375f6
}

.outline-link {
  /* white-space: normal !important */
}

@media (min-width: 960px) {
  .dark .VPNavBar.has-sidebar .content {
    background-color: rgba(24, 24, 24, 0.95) !important;
  }
}
