:root {
  --vp-c-brand-dark: black;
  --vp-c-brand-1: black;
  --vp-code-block-bg: #202020;
}

.dark {
  --vp-c-brand-1: white;
  --vp-c-brand-dark: white;
  --vp-c-bg-alt: #141414;
  --vp-c-bg: #181818;
  --vp-code-block-bg: #141414;
  --docsearch-hit-active-color: black;
}

.dark .VPImage.logo {
  filter: invert()
}

.vp-doc a {
  color: blue
}

.dark .vp-doc a {
  color: #3375f6
}

.outline-link {
  /* white-space: normal !important */
}

.badge-new {
  margin-left: 2px;
  box-sizing: border-box;
  padding: 2px 6px;
  background-color: blue;
  font-size: 10px;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu {
  color: blue !important;
}

.dark .menu {
  color: #3375f6 !important;
}

.dark .badge-new {
  background-color: #3375f6
}

@media (min-width: 960px) {
  .dark .VPNavBar.has-sidebar .content {
    background-color: rgba(24, 24, 24, 0.7) !important;
  }
}
